
  .right{
      margin-top: 5%;
    }
    .left-cont img{
    margin-top: 3%;  
    width: 44%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    }
    .left-tok{
      text-align: left;
    }
    .left-tok button{
      background-color:#3AAFA9;
      cursor: pointer;
    }
    .barra{
      margin-top: 5%;
      width: auto;
      margin-right: auto;
      margin-left: auto;
      align-items: center;
    
    }
    .up p{
      padding-left: 5%;
    }
    .down p{
      padding-left: 5%;
    }
    .left-tok{
      width: fit-content;
      margin-left: auto;
      margin-right: auto;

    }
    .token{
    align-items: center;
    display: block;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    }
    
    .header {
    display: flex;
    font-size: x-large;
    }
    .likes {
    display: flex;
    align-items: center;
    font-size: large;
    padding-top:1%;
    padding-left: 3%;
    }
    .likes p{
      align-self: center;
      padding-bottom: 3%;
      margin-left: 3%;
    }
    
    .up {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: flex-start;
      font-size:larger;
      padding-top: 4%;
    }
    .down {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: flex-start;
      font-size:larger;
    }
    .description {
      word-break:break-all;
      line-height: 1.3; 
      padding-top: 2%;
      margin-right: 10%;
    }
    .par{
      display: flex;
      align-items: center;
      padding-left: 6%;
    }
    .par-init{
      display: flex;
      align-items: center;
    }
    .like{
      cursor: pointer;
      margin-left: 50%;
      align-self: center;
    }
    .like:hover{
      color: red;
      fill: red;
    }
    
    
    @keyframes App-logo-spin {
      from { transform: rotate(0deg); }
      to { transform: rotate(360deg); }
    }